/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*----------------
    DEBUG
----------------*/


/*----------------
CUSTOM PROPERTIES
----------------*/
:root {
    --sec_color_text: #7d7f84;
}


/*----------------
UTILITY
----------------*/
button, i {
    color: var(--sec_color_text);
    background-color: black;
}

button {
    border: none;
    cursor: pointer;
}


/*----------------
LAYOUT
----------------*/
body {
    height: 100vh;
    background-color: #141922;
    color: white;
}

.frame {
    height: calc(100% - 90px);
}

header {
    background-color: black;
    width: 50px;
    flex-shrink: 0;
    overflow-y: auto;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    background-color: #282828;
    height: 90px;
    position: relative;
    z-index: 10;
}



/*----------------
TIPOGRAPHY
----------------*/



/*----------------
GENERAL
----------------*/
.flex {
    display: flex;
}

img.fluid {
    width: 100%;
    height: auto;
}

ul li {
    list-style: none;
}

.hidden {
    display: none;
}



/*----------------
HEADER
----------------*/
header {
    padding: 10px;
    flex-direction: column;
}

.nav-top {
    flex-direction: column;
    flex-grow: 1;
}

.logo .logo-full {
    padding: 20px;
}

.nav-top, .nav-bottom {
    text-align: center;
}

.nav-top li i,
.nav-top li img {
    height: 25px;
    width: 25px;
    margin-top: 8px;
}

.head-nav li:first-child button {
    color: #d2d2d2;
}

/* .playlist-header {      utile con "overflow auto" funzionante su playlist
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: black;
} */

.nav-top .hidden h5 {
    padding-top: 35px;
}

.add-playlist {
    width: 35px;
    height: 35px;
    text-align: center;
    color: black;
    background-color: var(--sec_color_text);
    margin-right: 7px;
}

.playlist li {
    margin-top: 5px;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.nav-top div.hidden li:first-child {
    vertical-align: middle;
}

.nav-bottom hr {
    width: 170px;
    color: var(--sec_color_text);
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav-bottom {
    text-align: center;
}

.nav-bottom img {
    color: var(--sec_color_text);
}

.nav-bottom  div:first-of-type img {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 2px;
}

.nav-bottom div:last-of-type img {
    width: 30px;
    height: 30px;
    background-color: var(--sec_color_text);
    border-radius: 50%;
}

.fa-circle-user {
    font-size: 25px;
    color: var(--sec_color_text);
    margin-top: 13px;
}




/*----------------
    MAIN
----------------*/
.main-top + div {
    padding: 15px;
}


/*main-top*/

.main-top {
    height: 90px;
    background-color: #080b12;
}

.main-top > .flex {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.main-top button {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    height: 40px;
    width: 220px;
    margin-right: 10px;
}


/* main_nav_top */

.main-nav-top .flex {
    flex-wrap: wrap;
    justify-content: center;
}

.main-nav-top button {
    border: none;
    background-color: inherit;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* recent */

.recent > h2 {
    margin-bottom: 30px;
    padding-left: 10px;
}

.album-cover {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    /* text-align: center; */
}

.overlay i {
    color: white;
    background-color: transparent;
    position: absolute;
    font-size: 5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-cover:hover .overlay {
    display: block;
    cursor: pointer;
}

.album-cover:active .overlay {
    cursor: progress;
}

.album-info {
    text-align: center;
}

.album-info h3 {
    margin-top: 17px;
    margin-bottom: 13px;
}

.album-info h4 {
    color: var(--sec_color_text);
}

.recent .flex {
    flex-wrap: wrap;
}

.recent .col {
    padding: 0 13px;
    width: calc(100% / 2);
    margin-bottom: 10px;
}
    

/*----------------
    FOOTER
----------------*/


    
/*----------------
    RESPONSIVE
        Mobile ->
----------------*/
    
/* S  (639px ->) */
@media screen and (min-width: 639px) {
    header {
        width: 230px;
    }


    .logo .logo-small {
        display: none;
    }

    .nav-top,
    .nav-bottom  {
        text-align: left;
        padding-left: 20px;
    }

    .hidden {
        display: inline-block;
    }

   
}



/* M - (878px ->) */
@media screen and (min-width: 878px) {
    .recent .col {
        width: calc(100% / 4);
    }

}



/* L - (1440px ->) */
@media screen and (min-width: 1440px) {
    .recent .col {
        width: calc(100% / 6);
    }

}
