/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*----------------
    DEBUG
----------------*/



/*----------------
    CUSTOM PROPERTIES
----------------*/
--root {
    --sec_color_text: #7d7f84
}

/*----------------
    UTILITY
----------------*/



/*----------------
    LAYOUT
----------------*/
body {
    height: 100vh;
    background-color: #141922;
    color: white;
}
    
.frame {
    height: calc(100% - 90px);
}

header {
    background-color: black;
    width: 50px;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    background-color: #282828;
    height: 90px;
}



/*----------------
    TIPOGRAPHY
----------------*/



/*----------------
    GENERAL
----------------*/
.flex {
    display: flex;
}



/*----------------
    HEADER
----------------*/



/*----------------
    MAIN
----------------*/


/*----------------
    FOOTER
----------------*/



/*----------------
    RESPONSIVE
        Mobile ->
----------------*/

/* S - 639px -> */
@media screen and (min-width: 639px) {
    
}



/* M - 878px -> */
@media screen and (min-width: 878px) {
    
}



/* L - 1440px -> */
@media screen and (min-width: 1440px) {
    
}
